VITE_TEXTURES_BASE_URL=/media
VITE_FILM_INFO_BASE_URL=/json
TMDB_READ_ACCESS_TOKEN=
TMDB_API_KEY=
TMDB_DISCOVER_PAGES=500
TMDB_TARGET_COUNT=10000
TMDB_POSTER_DOWNLOAD_BASE_URL=https://image.tmdb.org/t/p/w300_and_h450_bestv2
MEDIA_SINGLE_JPEG_QUALITY=78
MEDIA_ATLAS_JPEG_QUALITY=82
MEDIA_CRUNCH_THREADS=8
MEDIA_POSTER_CONCURRENCY=10
VITE_CATALOG_META_URL=/json/catalog-meta.json
VITE_MEDIA_AVAILABILITY_URL=/json/library-availability.sample.json
VITE_PLEX_BASE_URL=
VITE_OVERSEERR_BASE_URL=
VITE_MEDIA_VERSION_0_LAYERS=1
VITE_MEDIA_VERSION_1_LAYERS=1
VITE_MEDIA_VERSION_2_LAYERS=1
VITE_EXPERIMENTAL_MEDIA_VERSION_3_ENABLED=1
VITE_COMPRESS_GLSL=
VITE_ANALYZE_BUNDLE=
